@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: rgb(255, 239, 204);
    color: rgb(70, 70, 70);
}

header {
    margin-top: 20px;
    position: smooth;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: rgb(255, 239, 204);
    opacity: .9;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.css-activities {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.6rem;
    color: rgb(70, 70, 70);
    line-height: 1.6;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 166, 77);
}

#intro {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.6rem;
    color: rgb(70, 70, 70);
    line-height: 1.6;
    font-weight: bold;
    font-style: italic;
}

.logo {
    font-size: 3rem;
    color: rgb(255, 166, 77);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
}

nav a {
    font-size: 1.8rem;
    color: rgb(70, 70, 70);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: rgb(255, 166, 77);
    border-bottom: 3px solid rgb(255, 166, 77);
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: rgb(255, 239, 204);
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: rgb(255, 166, 77);
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px rgb(255, 166, 77);
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    transform: scale(1.05);
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid rgb(255, 166, 77);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: rgb(255, 166, 77);
}

.social-icon a:hover {
    color: rgb(255, 239, 204);
    transform: scale(1.3) translateY(-5px);
    background-color: rgb(255, 166, 77);
    box-shadow: 0 0 25px rgb(255, 166, 77);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: rgb(255, 239, 204);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: rgb(255, 166, 77);
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid rgb(255, 166, 77);
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: rgb(255, 166, 77);
    color: rgb(255, 239, 204);
    box-shadow: 0 0 25px rgb(255, 166, 77);
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "Student Developer";
    color: rgb(255, 166, 77);
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    background-color: rgb(255, 239, 204);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgb(255, 239, 204);
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid rgb(255, 166, 77);
    }
}

@keyframes words {
    0%, 30% {
        content: "Cosplayer";
    }
    31%, 65% {
        content: "Gamer";
    }
    66%, 100% {
        content: "Normal Person";
    }
}

.about-me {
    background-color: rgb(255, 224, 189);
    padding: 5rem 9%;
    color: rgb(70, 70, 70);
}

.about-me h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.about-me table {
    margin-top: 2rem;
    font-size: 1.6rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.projects {
    background-color: rgb(255, 239, 204);
    padding: 5rem 9%;
}

.projects h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.project-item {
    text-align: center;
}

.project-item img {
    width: 100%;
    border-radius: 10px;
}

.certificate-img {
    margin-top: 2rem;
    width: 100%;
}

.favorites {
    background-color: rgb(255, 224, 189);
    padding: 5rem 9%;
    color: rgb(70, 70, 70);
}

.favorites h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.favorite-item {
    margin-bottom: 2rem;
}

.favorite-item h3 {
    font-size: 2rem;
}

.favorite-item p {
    font-size: 1.6rem;
}

.favorite-item img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

#fav-vid {
    width: 100%;
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid rgb(255, 166, 77);
        border-bottom: 3px solid rgb(255, 166, 77);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: rgb(255, 224, 189);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid rgb(255, 166, 77);
    }
}

@media (max-width: 600px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}